html {
    font-size: 16px;
    font-family: 'Roboto';
}

body {
    background-color: hsl(235, 18%, 26%);
    margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;

}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.ImgContainer {
    max-width: 100%;
    margin: 5% 5%;
    
}


#submit{
    width: 80%;
    height: auto;
   background-color:hsl(234, 29%, 20%);
   padding: 2%;
   color: white;
   border-radius: 3%;
   border: none;
   
}

#submit:hover {
    cursor: pointer;
    transform: translateY(-2px);
    
}


p {
    font-size: 1rem;
    margin-left:10%;
}

form {
    width: 100%;
}

form input {
    width: 75%;
    height: 40%;
    margin: 0 10%;
    margin-bottom: 5%;
    font-size: 20px;
    
}
form p {
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 0;
    
}

li {
    margin: 5% 0%;
    list-style-image: url('icon-list.svg');
}

@media screen and (max-width: 1080px) {
    .Container{ 
        display: flex;
        flex-direction: column-reverse;
    }

    .ImgContainer {
       overflow: hidden;
    }
}